*{
  font-family: Helvetica, Arial, sans-serif;
  line-height: 2  ;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 150vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ruby{
  display: inline-flex; //為了搭配跟 rt 元素之間的呼吸空間排版
  flex-direction: column-reverse;//為了搭配跟 rt 元素之間的呼吸空間排版
  align-items: center;
  line-height: 1;
  
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: hsl(0, 0%, 15%);
  
}

rt{
  display: inline; //為了搭配跟 ruby 元素之間的呼吸空間排版
  line-height: 1;
  padding-bottom: 6px;

  letter-spacing: 1px;
  color: seagreen;
  padding-left: 4px;
  padding-right: 4px;
}


// .speech-bubble{
// 	position: absolute;
//   line-height: 1;
//   padding: 1em;
//   text-align: center;

// 	background-color: hsl(0, 0%, 95%);
//   box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
// 	border-radius: .4em;

// }

// .speech-bubble:after {
// 	content: '';
// 	position: absolute;
// 	bottom: 0;
// 	left: 50%;
// 	width: 0;
// 	height: 0;
// 	border: 10px solid transparent;
// 	border-top-color: hsl(0, 0%, 95%); // 尖角顏色
// 	border-bottom: 0;
// 	border-left: 0;
// 	margin-left: -5px;
// 	margin-bottom: -10px;
// }

.speech-bubble{
    position: absolute;
    z-index: 999;
    line-height: 1;
    padding: 20px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    transform: translate(0%, -100%);
    transition: background-color 0.2s ease-out;
}

.speech-bubble:hover{
  background-color: hsl(0, 0%, 90%);
}

.speech-bubble::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: hsl(0, 0%, 95%) transparent transparent transparent;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    transition: border-color 0.2s ease-out;
}

.speech-bubble:hover::after{
  border-color: hsl(0, 0%, 90%) transparent transparent transparent;
}

.speech-bubble::before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 11px 11px 0 0;
    border-color: hsl(0, 0%, 80%) transparent transparent transparent;
    bottom: -12px;
    left: 50%;
    margin-left: -6px;
    display: block;
}


// 單詞分開時的樣式
.speech-bubble.split{
  background-color: hsl(0, 0%, 20%);

  ruby{
    color: white;
  }

  rt{
    color: tomato;
  }
}

.speech-bubble.split:hover{
  background-color: hsl(0, 0%, 30%);
}

.speech-bubble.split::after{
  border-color: hsl(0, 0%, 20%) transparent transparent transparent;
}

.speech-bubble.split:hover::after{
  border-color: hsl(0, 0%, 30%) transparent transparent transparent;
}

.speech-bubble.split::before{
  display: none;
}

