ruby{
display: inline-flex; 
flex-direction: column-reverse;
align-items: center;
line-height: 1;
font-size: 1rem;
letter-spacing: 1px;
font-weight: bold;
color: hsl(0, 0%, 15%);

}

rt{
display: inline;
line-height: 1;
padding-bottom: 6px;

letter-spacing: 1px;
color: seagreen;
padding-left: 4px;
padding-right: 4px;
}

.speech-bubble{
    position: absolute;
    z-index: 999;
    line-height: 1;
    padding: 20px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    transform: translate(0%, -100%);
    transition: background-color 0.2s ease-out;
}


.speech-bubble:hover{
    background-color: hsl(0, 0%, 90%);
}

.speech-bubble::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: hsl(0, 0%, 95%) transparent transparent transparent;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    transition: border-color 0.2s ease-out;
}


.speech-bubble:hover::after{
    border-color: hsl(0, 0%, 90%) transparent transparent transparent;
}

.speech-bubble::before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 11px 11px 0 0;
    border-color: hsl(0, 0%, 80%) transparent transparent transparent;
    bottom: -12px;
    left: 50%;
    margin-left: -6px;
    display: block;
}


.speech-bubble.split{
    background-color: hsl(0, 0%, 20%);
}

.speech-bubble.split:hover{
    background-color: hsl(0, 0%, 30%);
}


.speech-bubble.split ruby{
    color: white;
}


.speech-bubble.split rt{
    color: tomato;
}


.speech-bubble.split::after{
border-color: hsl(0, 0%, 20%) transparent transparent transparent;
}

.speech-bubble.split:hover::after{
    border-color: hsl(0, 0%, 30%) transparent transparent transparent;
}

.speech-bubble.split::before{
display: none;
}

